<h2 class="page-title mb-2">Update Assigned User</h2>

<div class="form-card border-0 shadow-sm rounded-4">
  <div class="card-body">
    <div class="table-responsive custom-table-wrapper">
      <table
        id="performanceTable"
        class="table table-borderless custom-table table-striped align-middle mt-0"
      >
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Username</th>
            <th>Role</th>
            <th>Current Linked Jurisdiction</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Zara</td>
            <td>Assistant Commissioner</td>
            <td>
              <select class="form-select table-select">
                <option>Enforcement Range-III Lahore</option>
              </select>
            </td>
            <td>02/11/2022</td>
            <td>02/11/2025</td>
            <td>
              <button class="btn btn-outline-danger btn-filter w-100">
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Saad Khan</td>
            <td>Assistant Commissioner</td>
            <td>
              <select class="form-select table-select">
                <option>Enforcement Range-III Lahore</option>
              </select>
            </td>
            <td>02/11/2022</td>
            <td>02/11/2025</td>
            <td>
              <button class="btn btn-outline-danger btn-filter w-100">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="form-card">
  <div class="section-title">Link Jurisdiction</div>
  <div class="row g-3">
    <div class="col-xl col-lg col-md-3 mb-2">
      <div class="form-group mb-3">
        <label class="form-label">Add Link to Jurisdiction</label>
        <select class="form-select filter-select">
          <option>--Select Jurisdiction--</option>
          <option>one</option>
          <option>two</option>
        </select>
      </div>
    </div>
    <div class="col-xl col-lg col-md-3 mb-2">
      <div class="form-group mb-3">
        <label class="form-label">Start Date</label>
        <input type="date" class="form-control filter-control" placeholder="select date" />
      </div>
    </div>
    <div class="col-xl col-lg col-md-3 mb-2">
      <div class="form-group mb-3">
        <label class="form-label">End Date</label>
        <input type="date" class="form-control filter-control" placeholder="select date" />
      </div>
    </div>
    <div class="col-md-1 form-group mb-3">
      <label class="form-label invisible">End Date</label>
      <button class="btn btn-add btn-filter rounded-circle">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="chips-container">
    <div class="chip">
      <button type="button" class="chip-close">×</button>
      <span class="chip-text">
        Enforcement Range-I Faisalabad | 02/11/2022 | 02/11/2025
      </span>
    </div>

    <div class="chip">
      <button type="button" class="chip-close">×</button>
      <span class="chip-text">
        Enforcement Range-V Faisalabad | 02/11/2022 | 02/11/2025
      </span>
    </div>
  </div>
</div>

<div class="form-group form-filter mb-3 d-flex justify-content-end">
  <button
    class="btn btn-primary btn-filter px-4"
    data-bs-toggle="modal"
    data-bs-target="#successModal"
  >
    Update
  </button>
</div>

<footer class="login-footer text-white mb-0 my-3">
  <div class="container d-flex flex-md-row justify-content-center align-items-center my-3">
    <div class="mb-2 mb-md-0 d-flex justify-content-center align-items-center mb-3">
      <img src="assets/images/pitb logo.png" class="me-2" alt="Logo 1" height="40" />
      <div class="text-center text-muted small my-2">
        &copy;2017 PRA Appeals. All rights reserved | Powered by
        PITB
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="peefModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      <div class="custom-check-icon">
        <img src="./assets/images/submit.png" height="60" alt="" />
      </div>
      <h6 class="custom-success-title mb-2">
        Are you sure you want to Submit?
      </h6>
      <p class="mb-2 popup-text">
        Please ensure that all entered information is correct before
        submission.
      </p>
      <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
        <button class="btn btn-outline-dark px-4 py-2 mt-2 w-25" data-bs-dismiss="modal">
          Back
        </button>

        <button class="btn btn-primary px-4 py-2 mt-2 w-25" data-bs-toggle="modal" data-bs-target="#successModal">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 text-center">
      <div class="modal-body">
        <img src="./assets/images/success.png" height="75" alt="" class="my-3" />

        <h6 class="custom-success-title mb-2">Updated Successfully!</h6>
        <p class="mb-2 popup-text">
          User’s role has been appointed successfully.
        </p>

        <button class="btn btn-primary px-4 py-2 mt-2 border-0 text-uppercase" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
