<div class="row align-items-center mb-4">
  <div class="col-12 col-lg-6">
    <h2 class="page-title mb-3 mb-lg-0">
      Enforcement Officer Performance Report
    </h2>
  </div>

  <div class="col-12 col-lg-6">
    <div
      class="d-flex justify-content-start justify-content-lg-end gap-2 flex-wrap"
    >
      <button class="icon-btn1">
        <i class="fa-solid fa-file-pdf"></i>
      </button>
      <button class="icon-btn">
        <i class="fa-solid fa-file-excel"></i>
      </button>
      <button class="btn btn-primary">
        Add Enforcement Officer Performance
      </button>
    </div>
  </div>
</div>

<div class="form-card">
  <div class="row g-3 filter-row align-items-end">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group mb-3">
        <div class="search-container">
          <input
            type="text"
            class="form-control form_field"
            placeholder="Search"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="form-group mb-3">
        <label class="filter-label">Commissionerate</label>
        <select class="form-select filter-select">
          <option>Commissionerate</option>
        </select>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-2">
      <div class="form-group mb-3">
        <label class="filter-label">Unit</label>
        <select class="form-select filter-select">
          <option>Unit</option>
        </select>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-2">
      <div class="form-group mb-3">
        <label class="filter-label">Range</label>
        <select class="form-select filter-select">
          <option>Range</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group form-filter mb-3 d-flex">
        <button
          class="btn btn-primary btn-filter btn-block w-100 me-1"
        >
          Search
        </button>
        <button
          class="btn btn-outline-custom btn-filter w-100 ms-1"
        >
          <i class="fa-solid fa-rotate-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="form-card border-0 shadow-sm rounded-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        id="performanceTable"
        class="table table-striped table-hover align-middle"
      >
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Commissionerate</th>
            <th>Unit</th>
            <th>Range</th>
            <th>Service Sector</th>
            <th>Reg. Taxpayer</th>
            <th>Reg. Tax Increase</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Lahore</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Faisalabad</td>
            <td>Unit 5A</td>
            <td>Enforcement Range-V Lahore</td>
            <td>Hotel</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="login-footer text-white mb-0 my-3">
  <div
    class="container d-flex flex-md-row justify-content-center align-items-center my-3"
  >
    <div
      class="mb-2 mb-md-0 d-flex justify-content-center align-items-center mb-3"
    >
      <img
        src="assets/images/pitb logo.png"
        class="me-2"
        alt="Logo 1"
        height="40"
      />
      <div class="text-center text-muted small my-2">
        &copy;2017 PRA Appeals. All rights reserved | Powered by
        PITB
      </div>
    </div>
  </div>
</footer>
